#### CMSE 202 Final Project
### &#9989; Annalise Cornell, Ren McIntyre, Erica Bartosiewicz
### &#9989; Section 002, Project Environmental 1
#### &#9989; 3/31/2020

# ___Urban Forest Canopy Resilience___

## Problem

Trees and shrubbery provide several benefits for the community. With increased CO2 emissions and global warming gaining increased concern in the past decades, the protection of the urban forest canopy becomes increasingly important to increase its resilience to climate change.

Most of the world's population now lives in what are considered urban areas, and these account for between 40-70 percent of greenhouse gas emissions (Safford et. al., 2013). Urban forests, a term referring to the trees and shrubbery within a densly populated area, might be helpful in strengthening resilience to climate change (Safford et. al., 2013). Plants are known to utilize atmospheric CO2 in the process of photosynthesis, and so they take away from the excess CO2 emissions brought about by humans. 

This project will look to model how population density and tree density impact carbon sequestration and storage as well as how they take away from total air pollution, thus adding to resilience against climate change.

## Data

In [30]:
import pandas as pd

mi = pd.ExcelFile("MI_Tables.xls")
print(mi.sheet_names)

pop_and_urban_land = pd.read_excel("MI_Tables.xls", "2", skiprows = 3)
pop_and_urban_land.rename(columns = {"Unnamed: 0": "Community Name", 2000: "Population in 2000", "%": "% Urban Land", "% Change from 1990.1": "% urban change from 1990"}, inplace = True)
pop_and_urban_land.head()

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17']

,Community Name,Population in 2000,% Change from 1990,Density (people/km2),% Urban Land,% urban change from 1990
0,Addison village,627,-0.007911,248.105093,0.000000,NaN
1,Adrian city,21574,-0.023668,1167.386317,0.928864,0.004382
2,Ahmeek village,157,0.060811,864.120335,0.000000,NaN
3,Akron village,461,0.095012,186.667543,0.000000,NaN
4,Alanson village,785,0.159527,311.907842,0.000000,NaN

In [33]:
canopy_data_by_community = pd.read_excel("MI_Tables.xls", "5", skiprows = 3)
canopy_data_by_community.rename(columns = {"Unnamed: 0": "Community Name", "Unnamed: 1": "Mapping Zone", "%": "% Impervious surface cover", "m2/person": "Impervious surface cover m2/person", "%.1": "% Tree Canopy Cover", "m2/person.1": "Tree Canopy Cover m2/person"}, inplace = True)
canopy_data_by_community.head()

,Community Name,Mapping Zone,% Impervious surface cover,Impervious surface cover m2/person,% Tree Canopy Cover,Tree Canopy Cover m2/person,Total green space (ha),Canopy green space %,Available green space (ha)
0,Addison village,51,0.104587,434.009569,0.110675,459.272727,232.9780,0.123601,204.1810
1,Adrian city,51,0.383536,330.702698,0.085301,73.550107,1146.7500,0.138371,988.3540
2,Ahmeek village,51,0.326839,326.006369,0.185460,184.987261,10.5417,0.275506,7.6374
3,Akron village,51,0.091949,492.754881,0.037486,200.889371,224.3340,0.041282,215.0730
4,Alanson village,51,0.116852,389.453503,0.357788,1192.459873,231.0580,0.405128,137.4690

In [36]:
land_data_by_community = pd.read_excel("MI_Tables.xls", "8", skiprows = 3)
land_data_by_community.rename(columns = {"Unnamed: 0": "Community Name", "Land area km2": "Developed land area km2", "Land area %": "Developed land area %", "Tree % h": "Developed tree % h", "AGS % i": "Developed AGS % i", "Land area km2.1": "Barren land area km2", "Land area %.1": "Barren land area %", "Tree % h.1": "Barren tree % h", "AGS % i.1": "Barren AGS % i", "Land area km2.2": "Forested land area km2", "Land area %.2": "Forested land area %", "Tree % h.2": "Forested tree % h", "AGS % i.2": "Forested AGS % i", "Land area km2.3": "Scrub land area km2", "Land area %.3": "Scrub land area %", "Tree % h.3": "Scrub tree % h", "AGS % i.3": "Scrub AGS % i", "Land area km2.4": "Grassland land area km2", "Land area %.4": "Grassland land area %", "Tree % h.4": "Grassland tree % h", "AGS % i.4": "Grassland AGS % i", "Land area km2.5": "Agricultural land area km2", "Land area %.5": "Agricultural land area %", "Tree % h.5": "Agricultural tree % h", "AGS % i.5": "Agricultural AGS % i", "Land area km2.6": "Wetland land area km2", "Land area %.6": "Wetland land area %", "Tree % h.6": "Wetland tree % h", "AGS % i.6": "Wetland AGS % i"}, inplace = True)
land_data_by_community.head()

,Community Name,Developed land area km2,Developed land area %,Developed tree % h,Developed AGS % i,Barren land area km2,Barren land area %,Barren tree % h,Barren AGS % i,Forested land area km2,...,Grassland tree % h,Grassland AGS % i,Agricultural land area km2,Agricultural land area %,Agricultural tree % h,Agricultural AGS % i,Wetland land area km2,Wetland land area %,Wetland tree % h,Wetland AGS % i
0,Addison village,0.8703,0.334486,0.068966,0.618356,0.0045,0.001730,0.028000,0.972000,0.2358,...,0.011111,0.988889,1.4553,0.559322,0.081132,0.918869,0.0198,0.007610,0.105000,0.895000
1,Adrian city,17.6571,0.949199,0.068349,0.527746,0.0306,0.001645,0.000000,1.000000,0.2754,...,0.000000,1.000000,0.5895,0.031690,0.319115,0.680885,0.0486,0.002613,0.392593,0.607407
2,Ahmeek village,0.1395,0.890805,0.150903,0.482194,0.0000,0.000000,NaN,NaN,0.0144,...,NaN,NaN,0.0027,0.017241,0.530000,0.470000,0.0000,0.000000,NaN,NaN
3,Akron village,0.7101,0.287432,0.057921,0.622180,0.0000,0.000000,NaN,NaN,0.0738,...,0.000000,1.000000,1.6767,0.678689,0.011111,0.988889,0.0000,0.000000,NaN,NaN
4,Alanson village,1.1007,0.420709,0.115789,0.606631,0.0063,0.002408,0.268571,0.731429,0.4851,...,0.194021,0.805979,0.6318,0.241486,0.558476,0.441524,0.1152,0.044032,0.163594,0.836406

In [39]:
# this one I have to fix formatting on yet
assessment_stats = pd.read_excel("MI_Tables.xls", "11", skiprows = 3)
assessment_stats.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Maximum,Minimum,Median,Weighted mean d
0,41,Community,1.0,69.0,0.8868,0.0100,0.50070,0.560652
1,NaN,NaN,2.0,86.0,0.8449,0.0089,0.23295,0.304143
2,NaN,NaN,3.0,90.0,0.7005,0.0116,0.24705,0.321387
3,NaN,NaN,4.0,61.0,0.6696,0.0114,0.15050,0.276733
4,NaN,NaN,5.0,58.0,0.5227,0.0220,0.14090,0.179855

In [40]:
community_assessment = pd.read_excel("MI_Tables.xls", "12", skiprows = 2)
community_assessment.head()

              Name  Mapping zone Rating
0  Addison village            51   Poor
1      Adrian city            51   Poor
2   Ahmeek village            51   Fair
3    Akron village            51   Poor
4  Alanson village            51   Good

In [41]:
planting_priority = pd.read_excel("MI_Tables.xls", "15", skiprows = 2)
planting_priority.head()

              Name  Planting priority index
0  Addison village                     55.9
1      Adrian city                     64.6
2   Ahmeek village                     55.8
3    Akron village                     59.1
4  Alanson village                     43.7

## Model

_(Model and probably most of the visualizations)_

## Results

_(Results.)_

## Conclusions

_(Conclusions.)_

### References

Safford, H.; Larry, E.; McPherson, E.G.; Nowak, D.J.; Westphal, L.M. (August 2013). Urban Forests and Climate Change. U.S. Department of Agriculture, Forest Service, Climate Change Resource Center. www.fs.usda.gov/ccrc/topics/urban-forests/